@import "mixins";
@import "flexbox";
header.site nav {
  background-color: $green;
  @include flexbox();
  @include align-items(center);
}

a.logo {
}
ul.nav {
  li {
    display: inline-block;
    list-style-type: none;
    padding-right: $gap-medium;
    a {
      color: $white;
    }
  }
}
