<div class="row">
  <div class="large-8 columns">
    <h2>Pickups</h2>
  </div>
  <div class="large-2 columns">
    <a href="/pickup" class="button secondary">
      +
    </a>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p ng-hide="pickups.length">
      You have not had any pickups.
    </p>
    <table class="table" ng-if="pickups.length">
      <tr><th>Kind</th><th>Reported</th><th>Pickup On</th><th>Address</th><th>&nbsp;</th></tr>
      <tr ng-repeat="pickup in pickups">
        <td>
          {{pickup.kind}}
          <a class="pickup-image" ng-href="{{pickup.image.original.defaultUrl}}" target='_blank' ng-show="pickup.image">
            <img ng-src="{{pickup.image.small.defaultUrl}}"/>
          </a>
        </td><td am-time-ago="pickup.createdAt">&nbsp;</td><td>{{pickup.pickupAt | amCalendar}}</td><td>{{pickup.location.text}}</td><td>{{pickup.phone}}</td><td><button ng-click="cancel(pickup)">Cancel</button></td>
      </tr>
    </table>
  </div>
</div>
