<div class="row">
  <div class="large-12 columns">
    <h1 class="title">
        {{currentUser.name}}
    </h1>

    <h2 class="subheader" ng-show="currentUser.organizationName">
        {{currentUser.organizationName}}
    </h1>
  </div>
</div>
<div ng-if="hasRole(currentUser, 'courier')">
  <div ng-include="'partials/home_courier.html'" ng-controller="CouriersCtrl"></div>
</div>
<div ng-if="hasRole(currentUser, 'donor')">
  <div ng-include="'partials/home_donor.html'" ng-controller="DonorsCtrl"></div>
</div>
<div ng-if="hasRole(currentUser, 'agency')">
  <div ng-include="'partials/home_agency.html'" ng-controller="AgenciesCtrl"></div>
</div>
