<div class="hero">
  <h1 class="title">Login</h1>
</div>
<div class="page-content row">
  <div class="page-fields large-12 columns">
    <form class="form" name="form" ng-submit="login(form)" novalidate>
      <div class="form-row">
        <label class="above-field">
          Email
          <input type="text" class="field" name="email" class="form-control" ng-model="user.email">
        </label>
      </div>
      <div class="form-row">
        <label class="above-field">
          Password
          <input class="field" type="password" name="password" class="form-control" ng-model="user.password">
        </label>
      </div>

      <div class="form-row">
        <div class="large-9 columns">
          <p ng-show="form.email.$error.required && form.password.$error.required && submitted">
            Please enter your email and password.
          </p>
          <p>{{ errors.other }}</p>
          <button class="tm-medium" type="submit"> Sign in </button>
          <hr>
          Not registered? <a href="/signup" class="text-center new-account">Create an account.</a>
        </div>
      </div>
    </form>
  </div>
</div>

