<div class="row">
  <div class="large-8 columns">
    <h2>Users</h2>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p ng-hide="users.length">
      There are no users
    </p>
    <table class="table" ng-if="users.length">
      <tr><th>Name</th><th>Created</th><th>Location</th><th>Phone</th><th>&nbsp;</th></tr>
      <tr ng-repeat="user in users">
        <td>
          {{user.name}}
        </td>
        <td am-time-ago="user.createdAt">&nbsp;</td>
        <td>{{user.location.text}}</td>
        <td>{{user.phone}}</td>
        <td>
          <button ng-click="edit(user)">Edit</button>
          <button class="button alert" ng-click="remove(user)">Delete</button
          &nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>
